---
description: Hard-coded FOImanager from the reference .seqxc (no vars; this is environment data).
---
<FOImanager xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <FOIsets xsi:type="System.Collections.Generic.List`1[[TrueTestEngine.FOI.FOIset]]">
      <FOIset>
        <FOIs xsi:type="TrueTestEngine.FOI.FoIList">
          <GeneralFeature xsi:type="TrueTestEngine.FOI.GeneralFeature">
            <XmlGuid>b70748c2-bcb1-4af5-9d5f-35428204f876</XmlGuid>
            <POI>
              <Description>GeneralFeature1</Description>
              <ID>1</ID>
              <POIGeometry xsi:type="RadiantCommon.POIGeomR">
                <Xcorr>1</Xcorr>
                <Ycorr>1</Ycorr>
                <Zcorr>1</Zcorr>
                <GeometryDistanceScale>Physical</GeometryDistanceScale>
                <GeometryDistanceUnit>Meters</GeometryDistanceUnit>
                <LocationDistanceScale>Physical</LocationDistanceScale>
                <LocationDistanceUnit>Meters</LocationDistanceUnit>
                <CenterLocationX>0.13499999</CenterLocationX>
                <CenterLocationY>6.6135</CenterLocationY>
                <Shift>0,0</Shift>
                <CreationPOI>false</CreationPOI>
                <AutoPOI_DB_ID>0</AutoPOI_DB_ID>
                <RectWidth>1.53200006</RectWidth>
                <RectHeight>1.069</RectHeight>
              </POIGeometry>
              <Selected>true</Selected>
              <EvaluationTypes />
              <Area>0</Area>
              <AreaEntry>false</AreaEntry>
              <Thresholded>false</Thresholded>
              <ThresholdValue>0</ThresholdValue>
              <ThresholdType>None</ThresholdType>
              <LABLvRef>100</LABLvRef>
              <LABCxRef>0.3333</LABCxRef>
              <LABCyRef>0.3333</LABCyRef>
              <CIEDE2000LvRef>100</CIEDE2000LvRef>
              <CIEDE2000CxRef>0.3333</CIEDE2000CxRef>
              <CIEDE2000CyRef>0.3333</CIEDE2000CyRef>
              <CIEDE2000K_L>1</CIEDE2000K_L>
              <CIEDE2000K_C>1</CIEDE2000K_C>
              <CIEDE2000K_H>1</CIEDE2000K_H>
              <AppendDescription>true</AppendDescription>
              <ColorRegionEvalID>0</ColorRegionEvalID>
              <Rotation>Zero</Rotation>
              <TempPOI>false</TempPOI>
            </POI>
            <ID>1</ID>
            <TimeoutSec>0</TimeoutSec>
            <Notes />
            <OperatorConfirmRequired>false</OperatorConfirmRequired>
            <Orientation>None</Orientation>
            <Mask>false</Mask>
            <RunExecute>false</RunExecute>
            <Register>true</Register>
            <Processing>Early</Processing>
            <XMLSUBFOISETID>0</XMLSUBFOISETID>
            <CorrelateToReference>false</CorrelateToReference>
            <SaveAsReference>false</SaveAsReference>
            <ThresholdForCorrelation>20</ThresholdForCorrelation>
            <ThresholdTypeForCorrelation>PercentOfMax</ThresholdTypeForCorrelation>
            <CorrelationType>Difference</CorrelationType>
            <MaxCorrDifference>0</MaxCorrDifference>
            <CorrelationDiffToCancelSequence>0</CorrelationDiffToCancelSequence>
            <RegFOIName />
            <RegOffsetMM>0, 0</RegOffsetMM>
          </GeneralFeature>
          <GeneralFeature xsi:type="TrueTestEngine.FOI.GeneralFeature">
            <XmlGuid>26860eac-b2b6-42cc-a957-c673f0883baa</XmlGuid>
            <POI>
              <Description>GeneralFeature2</Description>
              <ID>2</ID>
              <POIGeometry xsi:type="RadiantCommon.POIGeomR">
                <Xcorr>1</Xcorr>
                <Ycorr>1</Ycorr>
                <Zcorr>1</Zcorr>
                <GeometryDistanceScale>Physical</GeometryDistanceScale>
                <GeometryDistanceUnit>Meters</GeometryDistanceUnit>
                <LocationDistanceScale>Physical</LocationDistanceScale>
                <LocationDistanceUnit>Meters</LocationDistanceUnit>
                <CenterLocationX>-2.201</CenterLocationX>
                <CenterLocationY>6.6340003</CenterLocationY>
                <Shift>0,0</Shift>
                <CreationPOI>false</CreationPOI>
                <AutoPOI_DB_ID>0</AutoPOI_DB_ID>
                <RectWidth>0.590000033</RectWidth>
                <RectHeight>1.05000007</RectHeight>
              </POIGeometry>
              <Selected>true</Selected>
              <EvaluationTypes />
              <Area>0</Area>
              <AreaEntry>false</AreaEntry>
              <Thresholded>false</Thresholded>
              <ThresholdValue>0</ThresholdValue>
              <ThresholdType>None</ThresholdType>
              <LABLvRef>100</LABLvRef>
              <LABCxRef>0.3333</LABCxRef>
              <LABCyRef>0.3333</LABCyRef>
              <CIEDE2000LvRef>100</CIEDE2000LvRef>
              <CIEDE2000CxRef>0.3333</CIEDE2000CxRef>
              <CIEDE2000CyRef>0.3333</CIEDE2000CyRef>
              <CIEDE2000K_L>1</CIEDE2000K_L>
              <CIEDE2000K_C>1</CIEDE2000K_C>
              <CIEDE2000K_H>1</CIEDE2000K_H>
              <AppendDescription>true</AppendDescription>
              <ColorRegionEvalID>0</ColorRegionEvalID>
              <Rotation>Zero</Rotation>
              <TempPOI>false</TempPOI>
            </POI>
            <ID>2</ID>
            <TimeoutSec>0</TimeoutSec>
            <Notes />
            <OperatorConfirmRequired>false</OperatorConfirmRequired>
            <Orientation>None</Orientation>
            <Mask>false</Mask>
            <RunExecute>false</RunExecute>
            <Register>true</Register>
            <Processing>Early</Processing>
            <XMLSUBFOISETID>0</XMLSUBFOISETID>
            <CorrelateToReference>false</CorrelateToReference>
            <SaveAsReference>false</SaveAsReference>
            <ThresholdForCorrelation>20</ThresholdForCorrelation>
            <ThresholdTypeForCorrelation>PercentOfMax</ThresholdTypeForCorrelation>
            <CorrelationType>Difference</CorrelationType>
            <MaxCorrDifference>0</MaxCorrDifference>
            <CorrelationDiffToCancelSequence>0</CorrelationDiffToCancelSequence>
            <RegFOIName />
            <RegOffsetMM>0, 0</RegOffsetMM>
          </GeneralFeature>
        </FOIs>
        <ID>1</ID>
        <POISetDescription>CAM</POISetDescription>
        <SpectralResponseType>Photometric</SpectralResponseType>
        <PhotometricTermType>Illuminance</PhotometricTermType>
        <PhotometricUnitType>Illuminance_Lux</PhotometricUnitType>
        <GeometryDistanceUnit>Meters</GeometryDistanceUnit>
        <CoordinateSystem>Cartesian</CoordinateSystem>
        <Notes />
        <UsePixelSum>false</UsePixelSum>
        <DrawMaxMinLocations>false</DrawMaxMinLocations>
        <HideLabels>false</HideLabels>
        <PassColor>NamedColor:Green</PassColor>
        <FailColor>NamedColor:Red</FailColor>
      </FOIset>
      <FOIset>
        <FOIs xsi:type="TrueTestEngine.FOI.FoIList">
          <GeneralFeature xsi:type="TrueTestEngine.FOI.GeneralFeature">
            <XmlGuid>df311e62-044a-4c61-92d9-99e5fd5d8e84</XmlGuid>
            <POI>
              <Description>GeneralFeature2</Description>
              <ID>2</ID>
              <POIGeometry xsi:type="RadiantCommon.POIGeomC">
                <Xcorr>1</Xcorr>
                <Ycorr>1</Ycorr>
                <Zcorr>1</Zcorr>
                <GeometryDistanceScale>Physical</GeometryDistanceScale>
                <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
                <LocationDistanceScale>Physical</LocationDistanceScale>
                <LocationDistanceUnit>Millimeters</LocationDistanceUnit>
                <CenterLocationX>-0.0263555944</CenterLocationX>
                <CenterLocationY>0.07076482</CenterLocationY>
                <Shift>0,0</Shift>
                <CreationPOI>false</CreationPOI>
                <AutoPOI_DB_ID>0</AutoPOI_DB_ID>
                <Diameter>0.004735596</Diameter>
              </POIGeometry>
              <Selected>true</Selected>
              <EvaluationTypes />
              <Area>0</Area>
              <AreaEntry>false</AreaEntry>
              <Thresholded>false</Thresholded>
              <ThresholdValue>0</ThresholdValue>
              <ThresholdType>None</ThresholdType>
              <LABLvRef>100</LABLvRef>
              <LABCxRef>0.3333</LABCxRef>
              <LABCyRef>0.3333</LABCyRef>
              <CIEDE2000LvRef>100</CIEDE2000LvRef>
              <CIEDE2000CxRef>0.3333</CIEDE2000CxRef>
              <CIEDE2000CyRef>0.3333</CIEDE2000CyRef>
              <CIEDE2000K_L>1</CIEDE2000K_L>
              <CIEDE2000K_C>1</CIEDE2000K_C>
              <CIEDE2000K_H>1</CIEDE2000K_H>
              <AppendDescription>true</AppendDescription>
              <ColorRegionEvalID>0</ColorRegionEvalID>
              <Rotation>Zero</Rotation>
              <TempPOI>false</TempPOI>
            </POI>
            <ID>2</ID>
            <TimeoutSec>0</TimeoutSec>
            <Notes />
            <OperatorConfirmRequired>false</OperatorConfirmRequired>
            <Orientation>None</Orientation>
            <Mask>false</Mask>
            <RunExecute>false</RunExecute>
            <Register>true</Register>
            <Processing>Early</Processing>
            <XMLSUBFOISETID>0</XMLSUBFOISETID>
            <CorrelateToReference>false</CorrelateToReference>
            <SaveAsReference>false</SaveAsReference>
            <ThresholdForCorrelation>20</ThresholdForCorrelation>
            <ThresholdTypeForCorrelation>PercentOfMax</ThresholdTypeForCorrelation>
            <CorrelationType>Difference</CorrelationType>
            <MaxCorrDifference>0</MaxCorrDifference>
            <CorrelationDiffToCancelSequence>0</CorrelationDiffToCancelSequence>
            <RegFOIName />
            <RegOffsetMM>0, 0</RegOffsetMM>
          </GeneralFeature>
        </FOIs>
        <ID>8</ID>
        <POISetDescription>D993_UPC_Mask_Repalce</POISetDescription>
        <SpectralResponseType>Photometric</SpectralResponseType>
        <PhotometricTermType>Illuminance</PhotometricTermType>
        <PhotometricUnitType>Illuminance_Lux</PhotometricUnitType>
        <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
        <CoordinateSystem>Cartesian</CoordinateSystem>
        <Notes />
        <UsePixelSum>false</UsePixelSum>
        <DrawMaxMinLocations>false</DrawMaxMinLocations>
        <HideLabels>false</HideLabels>
        <PassColor>NamedColor:Green</PassColor>
        <FailColor>NamedColor:Red</FailColor>
      </FOIset>
      <FOIset>
        <FOIs xsi:type="TrueTestEngine.FOI.FoIList">
          <GeneralFeature xsi:type="TrueTestEngine.FOI.GeneralFeature">
            <XmlGuid>3b7786b3-6783-40b0-b353-9e623a335b5f</XmlGuid>
            <POI>
              <Description>GeneralFeature2</Description>
              <ID>3</ID>
              <POIGeometry xsi:type="RadiantCommon.POIGeomC">
                <Xcorr>1</Xcorr>
                <Ycorr>1</Ycorr>
                <Zcorr>1</Zcorr>
                <GeometryDistanceScale>Physical</GeometryDistanceScale>
                <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
                <LocationDistanceScale>Physical</LocationDistanceScale>
                <LocationDistanceUnit>Meters</LocationDistanceUnit>
                <CenterLocationX>-1.93500006</CenterLocationX>
                <CenterLocationY>5.03500032</CenterLocationY>
                <Shift>0,0</Shift>
                <CreationPOI>false</CreationPOI>
                <AutoPOI_DB_ID>0</AutoPOI_DB_ID>
                <Diameter>406.1921</Diameter>
              </POIGeometry>
              <Selected>true</Selected>
              <EvaluationTypes />
              <Area>0</Area>
              <AreaEntry>false</AreaEntry>
              <Thresholded>false</Thresholded>
              <ThresholdValue>0</ThresholdValue>
              <ThresholdType>None</ThresholdType>
              <LABLvRef>100</LABLvRef>
              <LABCxRef>0.3333</LABCxRef>
              <LABCyRef>0.3333</LABCyRef>
              <CIEDE2000LvRef>100</CIEDE2000LvRef>
              <CIEDE2000CxRef>0.3333</CIEDE2000CxRef>
              <CIEDE2000CyRef>0.3333</CIEDE2000CyRef>
              <CIEDE2000K_L>1</CIEDE2000K_L>
              <CIEDE2000K_C>1</CIEDE2000K_C>
              <CIEDE2000K_H>1</CIEDE2000K_H>
              <AppendDescription>true</AppendDescription>
              <ColorRegionEvalID>0</ColorRegionEvalID>
              <Rotation>Zero</Rotation>
              <TempPOI>false</TempPOI>
            </POI>
            <ID>3</ID>
            <TimeoutSec>0</TimeoutSec>
            <Notes />
            <OperatorConfirmRequired>false</OperatorConfirmRequired>
            <Orientation>None</Orientation>
            <Mask>false</Mask>
            <RunExecute>false</RunExecute>
            <Register>true</Register>
            <Processing>Early</Processing>
            <XMLSUBFOISETID>0</XMLSUBFOISETID>
            <CorrelateToReference>false</CorrelateToReference>
            <SaveAsReference>false</SaveAsReference>
            <ThresholdForCorrelation>20</ThresholdForCorrelation>
            <ThresholdTypeForCorrelation>PercentOfMax</ThresholdTypeForCorrelation>
            <CorrelationType>Difference</CorrelationType>
            <MaxCorrDifference>0</MaxCorrDifference>
            <CorrelationDiffToCancelSequence>0</CorrelationDiffToCancelSequence>
            <RegFOIName />
            <RegOffsetMM>0, 0</RegOffsetMM>
          </GeneralFeature>
        </FOIs>
        <ID>9</ID>
        <POISetDescription>UDIR</POISetDescription>
        <SpectralResponseType>Photometric</SpectralResponseType>
        <PhotometricTermType>Luminance</PhotometricTermType>
        <PhotometricUnitType>Luminance_CandelaPerMeter</PhotometricUnitType>
        <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
        <CoordinateSystem>Cartesian</CoordinateSystem>
        <Notes />
        <UsePixelSum>false</UsePixelSum>
        <DrawMaxMinLocations>false</DrawMaxMinLocations>
        <HideLabels>false</HideLabels>
        <PassColor>NamedColor:Green</PassColor>
        <FailColor>NamedColor:Red</FailColor>
      </FOIset>
      <FOIset>
        <FOIs xsi:type="TrueTestEngine.FOI.FoIList">
          <GeneralFeature xsi:type="TrueTestEngine.FOI.GeneralFeature">
            <XmlGuid>1bdc2fd2-80b6-45b3-a0da-3fc8cfbcdb94</XmlGuid>
            <POI>
              <Description>GeneralFeature1</Description>
              <ID>1</ID>
              <POIGeometry xsi:type="RadiantCommon.POIGeomC">
                <Xcorr>1</Xcorr>
                <Ycorr>1</Ycorr>
                <Zcorr>1</Zcorr>
                <GeometryDistanceScale>Physical</GeometryDistanceScale>
                <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
                <LocationDistanceScale>Physical</LocationDistanceScale>
                <LocationDistanceUnit>Millimeters</LocationDistanceUnit>
                <CenterLocationX>-0.0262412857</CenterLocationX>
                <CenterLocationY>0.07077864</CenterLocationY>
                <Shift>0,0</Shift>
                <CreationPOI>false</CreationPOI>
                <AutoPOI_DB_ID>0</AutoPOI_DB_ID>
                <Diameter>0.004542505</Diameter>
              </POIGeometry>
              <Selected>true</Selected>
              <EvaluationTypes />
              <Area>0</Area>
              <AreaEntry>false</AreaEntry>
              <Thresholded>false</Thresholded>
              <ThresholdValue>0</ThresholdValue>
              <ThresholdType>None</ThresholdType>
              <LABLvRef>100</LABLvRef>
              <LABCxRef>0.3333</LABCxRef>
              <LABCyRef>0.3333</LABCyRef>
              <CIEDE2000LvRef>100</CIEDE2000LvRef>
              <CIEDE2000CxRef>0.3333</CIEDE2000CxRef>
              <CIEDE2000CyRef>0.3333</CIEDE2000CyRef>
              <CIEDE2000K_L>1</CIEDE2000K_L>
              <CIEDE2000K_C>1</CIEDE2000K_C>
              <CIEDE2000K_H>1</CIEDE2000K_H>
              <AppendDescription>true</AppendDescription>
              <ColorRegionEvalID>0</ColorRegionEvalID>
              <Rotation>Zero</Rotation>
              <TempPOI>false</TempPOI>
            </POI>
            <ID>1</ID>
            <TimeoutSec>0</TimeoutSec>
            <Notes />
            <OperatorConfirmRequired>false</OperatorConfirmRequired>
            <Orientation>None</Orientation>
            <Mask>true</Mask>
            <RunExecute>false</RunExecute>
            <Register>false</Register>
            <Processing>Early</Processing>
            <XMLSUBFOISETID>0</XMLSUBFOISETID>
            <CorrelateToReference>false</CorrelateToReference>
            <SaveAsReference>false</SaveAsReference>
            <ThresholdForCorrelation>20</ThresholdForCorrelation>
            <ThresholdTypeForCorrelation>PercentOfMax</ThresholdTypeForCorrelation>
            <CorrelationType>Difference</CorrelationType>
            <MaxCorrDifference>0</MaxCorrDifference>
            <CorrelationDiffToCancelSequence>0</CorrelationDiffToCancelSequence>
            <RegFOIName />
            <RegOffsetMM>0, 0</RegOffsetMM>
          </GeneralFeature>
        </FOIs>
        <ID>10</ID>
        <POISetDescription>20260121</POISetDescription>
        <SpectralResponseType>Photometric</SpectralResponseType>
        <PhotometricTermType>Luminance</PhotometricTermType>
        <PhotometricUnitType>Luminance_CandelaPerMeter</PhotometricUnitType>
        <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
        <CoordinateSystem>Cartesian</CoordinateSystem>
        <Notes />
        <UsePixelSum>false</UsePixelSum>
        <DrawMaxMinLocations>false</DrawMaxMinLocations>
        <HideLabels>false</HideLabels>
        <PassColor>NamedColor:Green</PassColor>
        <FailColor>NamedColor:Red</FailColor>
      </FOIset>
      <FOIset>
        <FOIs xsi:type="TrueTestEngine.FOI.FoIList">
          <GeneralFeature xsi:type="TrueTestEngine.FOI.GeneralFeature">
            <XmlGuid>d8d6f5fd-148e-4379-b5d3-270852dadf6e</XmlGuid>
            <POI>
              <Description>GeneralFeature1</Description>
              <ID>1</ID>
              <POIGeometry xsi:type="RadiantCommon.POIGeomC">
                <Xcorr>1</Xcorr>
                <Ycorr>1</Ycorr>
                <Zcorr>1</Zcorr>
                <GeometryDistanceScale>Physical</GeometryDistanceScale>
                <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
                <LocationDistanceScale>Physical</LocationDistanceScale>
                <LocationDistanceUnit>Millimeters</LocationDistanceUnit>
                <CenterLocationX>-0.0262918975</CenterLocationX>
                <CenterLocationY>0.07082507</CenterLocationY>
                <Shift>0,0</Shift>
                <CreationPOI>false</CreationPOI>
                <AutoPOI_DB_ID>0</AutoPOI_DB_ID>
                <Diameter>0.006</Diameter>
              </POIGeometry>
              <Selected>true</Selected>
              <EvaluationTypes />
              <Area>0</Area>
              <AreaEntry>false</AreaEntry>
              <Thresholded>false</Thresholded>
              <ThresholdValue>0</ThresholdValue>
              <ThresholdType>None</ThresholdType>
              <LABLvRef>100</LABLvRef>
              <LABCxRef>0.3333</LABCxRef>
              <LABCyRef>0.3333</LABCyRef>
              <CIEDE2000LvRef>100</CIEDE2000LvRef>
              <CIEDE2000CxRef>0.3333</CIEDE2000CxRef>
              <CIEDE2000CyRef>0.3333</CIEDE2000CyRef>
              <CIEDE2000K_L>1</CIEDE2000K_L>
              <CIEDE2000K_C>1</CIEDE2000K_C>
              <CIEDE2000K_H>1</CIEDE2000K_H>
              <AppendDescription>true</AppendDescription>
              <ColorRegionEvalID>0</ColorRegionEvalID>
              <Rotation>Zero</Rotation>
              <TempPOI>false</TempPOI>
            </POI>
            <ID>1</ID>
            <TimeoutSec>0</TimeoutSec>
            <Notes />
            <OperatorConfirmRequired>false</OperatorConfirmRequired>
            <Orientation>None</Orientation>
            <Mask>false</Mask>
            <RunExecute>false</RunExecute>
            <Register>true</Register>
            <Processing>Early</Processing>
            <XMLSUBFOISETID>0</XMLSUBFOISETID>
            <CorrelateToReference>false</CorrelateToReference>
            <SaveAsReference>false</SaveAsReference>
            <ThresholdForCorrelation>20</ThresholdForCorrelation>
            <ThresholdTypeForCorrelation>PercentOfMax</ThresholdTypeForCorrelation>
            <CorrelationType>Difference</CorrelationType>
            <MaxCorrDifference>0</MaxCorrDifference>
            <CorrelationDiffToCancelSequence>0</CorrelationDiffToCancelSequence>
            <RegFOIName />
            <RegOffsetMM>0, 0</RegOffsetMM>
          </GeneralFeature>
        </FOIs>
        <ID>11</ID>
        <POISetDescription>BT REPLACE</POISetDescription>
        <SpectralResponseType>Photometric</SpectralResponseType>
        <PhotometricTermType>Luminance</PhotometricTermType>
        <PhotometricUnitType>Luminance_CandelaPerMeter</PhotometricUnitType>
        <GeometryDistanceUnit>Millimeters</GeometryDistanceUnit>
        <CoordinateSystem>Cartesian</CoordinateSystem>
        <Notes />
        <UsePixelSum>false</UsePixelSum>
        <DrawMaxMinLocations>false</DrawMaxMinLocations>
        <HideLabels>false</HideLabels>
        <PassColor>NamedColor:Green</PassColor>
        <FailColor>NamedColor:Red</FailColor>
      </FOIset>
    </FOIsets>
    <CharacterList xsi:type="System.Collections.Generic.List`1[[System.String]]" />
  </FOImanager>
  
